asttokens
boto3
botocore
colorama
comm
contourpy
cycler
debugpy
decorator
et_xmlfile
executing
fonttools
ipykernel
ipython
ipython_pygments_lexers
jedi
jmespath
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pillow
pip
platformdirs
prompt_toolkit
psutil
pure_eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
s3transfer
scikit-learn
scipy
seaborn
six
stack-data
threadpoolctl
tornado
traitlets
tzdata
urllib3
wcwidth